@model AmazingShop.Models.ViewModels.VMWithRedirect<Address>

@{ 
    var title = "Stwórz Nowy Adres";
    var action = "Create";
    if(Model.Model.Id != 0)
    {
        title = "Edycja Adresu";
        action = "Edit";
            }
}
<form method="post" asp-action="@action">
    @if (Model.Model.Id != 0)
    {
        <input asp-for="Model.Id" hidden />
    }
    <input asp-for="Model.UserId" hidden />
    <input asp-for="Controller" hidden />
    <input asp-for="Action" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" row>
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Model.Country"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Model.Country" class="form-control" />
                        <span asp-validation-for="Model.Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Model.City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Model.City" class="form-control" />
                        <span asp-validation-for="Model.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Model.Street"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Model.Street" class="form-control" />
                        <span asp-validation-for="Model.Street" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Model.BuildingNumber"></label>
                    </div>
                    <div class="col-2">
                        <input asp-for="Model.BuildingNumber" class="form-control" />
                        <span asp-validation-for="Model.BuildingNumber" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="Model.LocalNumber"></label>
                    </div>
                    <div class="col-2">
                        <input asp-for="Model.LocalNumber" class="form-control" />
                        <span asp-validation-for="Model.LocalNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Model.ZipPostalCode"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Model.ZipPostalCode" class="form-control" />
                        <span asp-validation-for="Model.ZipPostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Model.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Zapisz Zmiany" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary w-100" value="Utwórz Adres" />
                            }
                        </div>
                        <div class="col">
                            <a onclick="history.back()" class="btn btn-success w-100" style="color:white">
                                <i class="fas fa-sign-out-alt"></i>Wróć
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}