@model OrderHeader 

<h1 class="text-info"> Zamówienie Utworzone</h1>
<p>Zamówienie o numerze #@Model.Id zostało poprawnie utworzone w systemie.</p>
<p>Status zamówienia można śledzic w panelu użytkownika w sekcji "Zamówienia"</p>

